/* Heading fonts and body fonts*/
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');

/* header {
  display: flex;
  flex-direction: row;
  height: 40px;
} */

/* Background color yellow */
* {margin :0; padding:0;}

header  {
  width: 100vw;
  background-color: #FFC75F;
  display: flex;
  flex-direction: row;
  height: 70px;
  border-bottom: 2px solid #ca9f4f;
}
h1 {
  font-family: 'Love Ya Like A Sister';
}

.nav-profile {
  background-color: #E7B355;
}

/* input backgroundcolor */
input {
  background-color: #EFEFEF;
}
/* border underline of div */
/* div input {
  border: 3px solid #845EC2;
} */

/* Body */
p {
  color: #969696;
  font-family: 'Sanchez', serif;
}
.translation-form-container {
  background-color: #FFC75F;
}

